<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap.css">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="shortcut icon" href="./favicon.ico" type="image/ico">
    <link rel="icon" type="image/ico" href="./favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans|Lato:300, 400, 700">
    <script src="./libs/FileSaver.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="./libs/jquery-1.11.1.min.js"></script>
    <script src="./libs/jquery-ui.min.js"></script>
    <script src="./libs/jquery.viewport.js" type="text/javascript"></script>
    <script src="./libs/withinViewport.js"></script>
    <script src="./libs/jquery.withinViewport.js"></script>
    <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="./javascripts/index.js"></script>

  </head>
  <title>LinguaGem</title>
  <body>

    <div class="sectionContainer">
    <div class="section welComtainer" id="welComtainerid">
      <div class="welcomeHead"><h1>LinguaGem</h1></div>
      <div class="img"><img src="./linguagem.png" id="logo"/></div>
      <div class="welcome">
        <div class="welcomeText">
          <p id="getStarted">Get Started:</p>
          <button class="login-button">
            <a href="/auth/facebook">Login with facebook</a>
          </button>
          <div id="Info">More Info <i class="fa fa-chevron-down"></i></div>
        </div>
      </div>
    </div>

  <div class="section aboutArea" id="aboutArea" ata-section="about" data-section-title="What is Linguagem?" style="z-index:5;">
    <div class="innerSection aboutLG">
      <h2>WHAT IS LINGUAGEM?</h2>
      <div class="definition">
        <p>linguagem {Portugese} (noun): Language</p>
      </div>
      <p>LinguaGem is a series of games to help you learn basic phrases in a language of your choice</p>
    </div>
    <div class="images">
      <div class="column" id="column1">
        <div class="lang"><p>German</p></div>
        <div class="lang"><p>Hindi</p></div>
        <div class="lang"><p>Japanese</p></div>
        <div class="lang"><p>Korean</p></div>
        <div class="lang"><p>Spanish</p></div>
        <div class="lang"><p>Italian</p></div>
        </div>
        <div class="column" id="column2">
          <img src="./French.png" />
        </div>
        <div class="column" id="column3">
        <div class="lang"><p>Chinese</p></div>
        <div class="lang"><p>Arabic</p></div>
        <div class="lang"><p>Catalan</p></div>
        <div class="lang"><p>Bulgarian</p></div>
        <div class="lang"><p>Russian</p></div>
        <div class="lang"><p>Icelandic</p></div>
        </div>
      </div>
    </div>

    <div class="section playArea" id="playArea" data-section="play" data-section-title="PLAY" style="z-index:5;">
    <div class="innerSection play">
      <h2>PLAY</h2>
      <p>Select any number of languages to play a casual multiple choice game </br> with common phrases and trivia</p>
      <div id="slideshow">
       <div class="slide">
         <img src="./clicktoplay.png">
       </div>
       <div class="slide">
         <img src="./fiveJapanese.png">
       </div>
       <div class="slide">
         <img src="./FrenchTrivia.png">
       </div>
    </div>
    </div>
    </div>

    <div class="section learnArea" id="learnArea" data-section="learn" data-section-title="LEARN" style="z-index:5;">
      <div class="innerSection learn">
      <h2>LEARN</h2>
      <div class="innerInnerSection commonPhrases">
      <p><span>Common Phrases: </span>  Choose to learn common phrases from over 60 languages.</p>
      <p><span>Game: </span>  Translate common phrases in a language by selecting "LEARN" at the bottom of the language page. </p>
      <div id="slideshowSmall">
       <div class="slideSmall">
         <img src="./russian.png">
       </div>
       <div class="slideSmall">
         <img src="./Japanese.png">
       </div>
       <div class="slideSmall">
         <img src="./spanish.png">
       </div>
       <div class="slideSmall">
         <img src="./bonnenuit.png">
       </div>
       <div class="slideSmall">
         <img src="./thatsright.png">
         </div>
    </div>
      </div>
      <!-- <div class="innerInnerSection game">
      
      <div id="slideshowSmallish">
       
       </div>
    </div> -->
    </div>
    </div>

    <div class="section getStartedArea" id="getStartedArea" data-section="getstarted" data-section-title="GET STARTED" style="z-index:5;">
      <div class="innerSection getStarted">
        <h2>Get Started</h2>
        <button class="login-button getstart">
            <a href="/auth/facebook">Login with facebook</a>
          </button>
        </div>
      </div>


  </div>

  

  <div id="sidebar">
      <div class="dot filled" title="welComtainerid" id="welComtainerid-dot"></div>
      <div class="dot" title="aboutArea" id="aboutArea-dot"></div>
      <div class="dot" title="playArea" id="playArea-dot" ></div>
      <div class="dot" title="learnArea" id="learnArea-dot"></div>
      <div class="dot" title="getStartedArea" id="getStartedArea-dot"></div>
    </div>

  </body>
</html>

